<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuGet.Build.Packaging" version="0.2.2" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="System.Reactive" version="4.3.2" targetFramework="xamarinios10" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.8.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudFirestore" version="1.4.2.2" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.1.0.1" targetFramework="xamarinios10" />
</packages>